.page-index {
    

    header {
        background-image: url(../images/bg-header1.jpg);
        background-position-x: center;
        background-position-y: top;
        background-size: cover;
        background-repeat: no-repeat;   
    }
    @media (max-width: 466px) {
        header {
            background-image: none;
            background: #011f27;
        }
    }
    .logo-bussola {
        width: 8rem;
    }
    
    .texto-titulo1 {
        font-size: 200%;
    }
    .texto-titulo2 {
        font-size: 250%;
    }
    
    .btn {
        font-size: 0.9rem;
        font-weight: normal;
        background: linear-gradient(
            180deg, #33D16B 0%,#21A44F 100%);
        border-radius: 10px;
        padding: 10px 90px !important;
        
    }
    .btn-modal {
        font-size: 14px;
        font-weight: normal;
        background: linear-gradient(
            180deg, #33D16B 0%,#21A44F 100%);
        border-radius: 10px;
        border: #33D16B;
        padding: 10px 60px !important;
        
    }
    .form-text {
        font-size: 0.6rem;
    }
    
    
    #section-6 {
        background-color: #011f27;
    }
    
    .text-mobile {
        text-align:center;
    } 
    
    .text-laranja {
        color: #FE8818
    }
       
    #section-man {
        background: url(../images/bg_adultos_saudaveis.png);
        background-position-x: center;
        background-position-y: bottom;
        background-size: cover;
    }
    #section-man_mobile {
        background: url(../images/bg_adultos_saudaveis_mob.png);
        background-position-x: 65%;
        background-position-y: bottom;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    .text-man {
        margin-top: 200px;
    }
    .text-man_mobile {
        margin-top: 200px;
    }
    /*perguntas frequentes*/
    
    .section-accordion {
        padding: 7em 0;
    }
    .accordion-item {
        font-size: 15px;
        border: 1px solid #dee2e6;
        border-radius: 6px !important;
        
    }
    
    .accordion-item h2 button {
        display: block;
        text-align: left;
        text-decoration: none;
        color: black;
        position: relative;
        -webkit-box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2)!important;
        box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2)!important;
        border-radius: 6px !important;
    }
    
    .accordion-button .fa {
        position: absolute;
        right: 20px;
        top: 50%;
        -webkit-transform: translateY(-50%) rotate(-0deg);
        -ms-transform: translateY(-50%) rotate(0deg);
        transform: translateY(-50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;  
    }
    
    .accordion-item h2 button:hover {
        text-decoration: none;
        -webkit-box-shadow: 0 3px 10px -2px rgba(2, 2, 2, 0.2)!important;
        box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2)!important;
    }
    .accordion-item h2 button.collapsed {
        color: #000;
    }
    
    .accordion-item h2 button.collapsed .fa {
        right: 20px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    
}



