
.page-obrigado {

    header {
        background: #011f27; 
    }
    
    .logo-bussola {
        width: 8rem;
    }
    
    .texto-titulo1 {
        font-size: 200%;
    }
    .texto-titulo2 {
        font-size: 250%;
    }

    .texto-obrigado {
        font-family: monospace

    }
    .text {
        font-size: 100px;
    }

    .btn {
        font-size: 0.9rem;
        font-weight: normal;
        background: linear-gradient(
            180deg, #33D16B 0%,#21A44F 100%);
        border-radius: 10px;
        padding: 10px 90px !important;
        
    } 
   
}



